
header{
    background-color: rgba(70, 117, 115,0.6);
    position: fixed;
    top: 0;
    width: 100%;
    
    
}
nav>ul>li{
    display: inline-block;padding: 10px 3px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
}
nav>ul>li:link{
    background-color: maroon;
}
nav>ul>li:visited{
    background-color: lightsalmon;
}
nav>ul>li:hover{
    background-color: lightgreen;
}
nav>ul>li:active{
    background-color: rgb(136, 136, 187);
}

#proimg{
    float: left;
    width: 500px;
    height: 500px;
}
.clear{
    clear: both;
}
#head3{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid white 25px;
    padding-bottom: 10px;
}
div img{
    width: 30%;
    float: left;
    margin: 30px;
    margin: 1.66666%;
}
#pics{
    border-bottom:solid white 40px;

}
#status{
    float:right;
    font-size: 1rem;
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.foot{
    border-bottom: solid white 20px;
}
