body{
    background-color: rgb(247, 244, 229);
   
    background-repeat: no-repeat;
    
    margin: 10px;
    text-decoration: none;
}
header{
    background-color: rgba(33, 245, 234, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    

}
nav>ul>li{
    display: inline-block;padding: 10px 3px;
    font-size: 20px;
}
nav>ul>li>a{
    text-decoration: none;
}
nav>ul>li:link{
    background-color: maroon;
}
nav>ul>li:visited{
    background-color: lightsalmon;
}
nav>ul>li:hover{
    background-color: lightgreen;
}
nav>ul>li:active{
    background-color: rgb(136, 136, 187);
}
img{
    width: 300px;
    height: 200px;
}
table{
    margin-top: 150px;
    margin-left: 150px;
    
    

}
a{
    text-decoration: none;
    color: black;
}
.foot{
    border-top: solid rgb(247, 244, 229) 50px;
    text-align: center;

}

